/* переменные для основного цвета текста */
:root {
  --primary-text-color: #212121;
  --titel-text-color: #757575;
  --accent-color: #2196f3;
  --maket-color: #ececec;
  --section-dark-color: #2f303a;
  --color-main-button: #ffffff;
  --bac-color-buttons: #f5f4fa;
  --color-line: #c4c4c4;
}

/* в body задаем цвет странички и цвет шрифта, стиль шрифта */
body {
  background-color: v(--color-main-button);
  color: var(--titel-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Сброс отступов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Переопределила display в bloc  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;
}
/* ======================== COMPONENTS ===========================================*/
/*Отменяем подчеркивание у ссылок */
.link {
  text-decoration: none;
}

/* сброс точек в li */
.list {
  list-style: none;
}

/* цвет текста заголовков */
.heading,
.heading-list-portfolio {
  color: var(--primary-text-color);
}

/* цвет параграфов */
.under-heading,
.under-heading-portfilio {
  color: var(--titel-text-color);
}

/* цвет фона для шапки и футера */
.hero,
.site-footer {
  background-color: var(--section-dark-color);
}
/* ========================= END COMPONENTS================================*/
/* ========================== HEADER ================================ */
.header {
  /* align-items: center; */

  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}

.header-container {
  display: flex;
  /* Центрирование по вспомогательной оси */
  align-items: center;
}
.header-nav {
  display: flex;
  /* align-items: center; */
}
/* LINE */
.header-line {
  width: 1600px;
  height: 0px;
  left: 0px;
  top: 80px;

  border: 1px solid var(--maket-color);
}

/* WebStudio */
.logo-link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-right: 90px;
  padding-top: 25px;
  padding-bottom: 25px;

  color: var(--accent-color);
}

.header-color-info {
  color: var(--accent-color);
}
.color-link-nav {
  color: var(--primary-text-color);
}

.tel-link {
  color: var(--titel-text-color);
}
/* стиль для li */
.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Ссылка активная */
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--accent-color);
}

.mail-link:active,
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus,
.tel-link:active {
  color: var(--accent-color);
}

/* ================================ END HEADER ================================== */

/* =================================MAIN========================================== */
/* Эффективное решение для вашего бизнеса */
.hero-section {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
.hero-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  padding: 200px 237px 40px 237px;

  color: var(--color-main-button);
}
/* Кнопка */
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  display: flex;
  letter-spacing: 0.06em;

  color: var(--color-main-button);
  background-color: var(--accent-color);

  cursor: pointer;
  border: transparent;

  padding: 10px 32px;
  margin: auto;
}
/* Линия после шапки */
.line-section-work {
  width: 1170px;
  height: 2px;
  left: 215px;
  top: 715px;

  margin: 35px 215px 57px;

  background: var(--color-line);
}

/* <!-- Особенности --> */

.list-section-work {
  display: flex;
  list-style: none;
  margin-left: 94px 215px;
}

.list-features:not(:last-child) {
  margin-right: 30px;
}

.heading-stction-features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/*<!-- стиль для заголовков секции "Чем мы занимаемся" и "Наша команда"-->*/

.style-main-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin: 94px 400px 50px;
}
.list-container-img:not(:last-child) {
  margin-right: 30px;
}
.list-img {
  display: flex;
  padding: 0;
  margin: o;
  list-style: none;
  flex-wrap: wrap;
}

/* Наша команда */
.section-our-team {
  background-color: var(--bac-color-buttons);
}

.card-set {
  display: flex;
  padding: 0;
  margin: o;
  list-style: none;
  flex-wrap: wrap;

  /* margin-right: -30px; */
  /* margin-bottom: -94px; */
}

.our-team {
  width: 270px;
  height: 368px;
  left: 215px;
  top: 186px;

  background: var(--color-main-button);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 94px;
}
.heading-name {
  margin-top: 30px;
  text-align: center;
}

.sect-text {
  margin-top: 10px;
}

/* Стиль для параграфов из секции "Особенности"*/
.style-under-heading {
  font-size: 14px;
  line-height: 1.71;
}

/* Стиль для заголовкой из секции "Наша команда" */
.style-section-heading-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

/* Стиль для параграфов из секции "Наша команда" */
.style-section-team {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}
/* ==================================== END MAIN ==================================== */

/* ============================== FOOTER ========================================= */

.footer-link {
  color: var(--color-main-button);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  text-decoration: none;
}
.footer-link:focus,
.footer-link:hover {
  color: var(--accent-color);
}
.site-footer {
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer-logo-link {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2157px;
}

.footer-adres {
  width: 231px;
  height: 81px;
  left: 215px;
  top: 2208px;
}

.footer-list-adres {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2208px;
}

.footer-list {
  margin-top: 20px;
  margin-right: 940px;
  margin-bottom: 60px;
}
/* ================================== END FOOTER ============================= */

/* ================================== PORTFOLIO ========================= */
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;

  /* прозрачность */
  /* background-color: transparent; */
  background-color: var(--bac-color-buttons);
  border-radius: 4px;

  color: var(--primary-text-color);
  cursor: pointer;
  border: transparent;
}
.filter-btn:focus,
.filter-btn:hover {
  background-color: var(--accent-color);
  color: var(--bac-color-buttons);
}

/* стиль для залоговков списков */
.heading-list-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

/*Стиль для параграфов списка */
.under-heading-portfilio {
  font-size: 16px;
  line-height: 1.9;
}

.list-btn {
  margin-top: 56px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 34px;
  justify-content: center;

  display: flex;
  width: 611px;
  height: 54px;
  left: 495px;
  top: 174px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.filter-btn {
  padding: 6px 22px;
}

.item-btn:not(:last-child) {
  margin-right: 8px;
}

/* ---------------Контейнер с картинками ---------------*/
/*  <!-- LIST IMAGES --> */

/* ul */
.img-card {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;

  padding: 94px 0;
  list-style: none;
}

/* li */
.item-card {
  flex-basis: calc((100% / 3 - 30px));

  margin-left: 30px;
  margin-top: 30px;

  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: var(--color-main-button);
  border: 1px solid var(--maket-color);
  box-sizing: border-box;
}

/* div */
.card-content {
  width: 322px;
  height: 70px;
  left: 239px;
  top: 576px;

  margin: 20px 24px;
}

/* h */
.heading-list-portfolio {
  margin-bottom: 4px;
}

/* =============================== END PORTFOLIO ======================= */
