/* переменные для основного цвета текста */
:root {
  --primary-text-color: #212121;
  --titel-text-color: #757575;
  --title-fon-body-color: #e5e5e5;
  --accent-color: #2196f3;
  --maket-color: #ececec;
  --section-dark-color: #2f303a;
  --color-main-button: #ffffff;
  --bac-color-buttons: #f5f4fa;
  --color-line: #c4c4c4;
  --color-footer-contact: #ffffff99;
}

/* Сброс отступов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Переопределила display в bloc  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Отменяем подчеркивание у ссылок */
.link {
  text-decoration: none;
}

/* в body задаем цвет странички и цвет шрифта, стиль шрифта */
body {
  background-color: var(--maket-color);
  color: var(--titel-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* сброс точек в li */
.list {
  list-style: none;
}

/* цвет текста заголовков */
.heading,
.heading-list-portfolio {
  color: var(--primary-text-color);
}

/* цвет параграфов */
.under-heading,
.under-heading-portfilio {
  color: var(--titel-text-color);
}

/* цвет фона для шапки и футера */
.hero,
.site-footer {
  background-color: var(--section-dark-color);
}

.container {
  /* outline: 2px solid green; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;
}

.section {
  /* outline: 2px solid rgb(98, 11, 238); */
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo-link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
/* ======================== COMPONENTS ===========================================*/

/* ========================= END COMPONENTS================================*/

/* ========================== HEADER ================================ */
.header {
  /* outline: 2px solid red; */
  height: 80px;
  border: 1px solid var(--maket-color);
}

.header-container {
  display: flex;
  /* Центрирование по вспомогательной оси */
  align-items: center;
}
.nav-header {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact {
  display: flex;
  margin-left: auto;
}
/* WebStudio */
.logo-link {
  margin: 0px 90px 0px 0px;
  padding: 24px 0px 25px;

  color: var(--accent-color);
}

/* Цвет странички на которой находится пользователь */
.current {
  color: var(--accent-color);
}

/* Стили для ссылок */
/* .header-link {
  margin-left: auto;
  margin-right: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
} */
/* Цвет текса ссылки в секции nav */
.color-link-nav {
  color: var(--primary-text-color);
}

/* Цвет для телефона и почты */
.tel-link,
.mail-link {
  color: var(--titel-text-color);
}

/* стиль для li в nav секции и для тел,почты в ul*/
.nav-menu,
.contact-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu:not(:last-child),
.contact-menu:not(:last-child) {
  margin-right: 50px;
}

/* Ссылка активная */
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--accent-color);
}

.mail-link:active,
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus,
.tel-link:active {
  color: var(--accent-color);
}

.mail-link:hover,
.mail-link:focus,
.mail-link:active {
  color: var(--accent-color);
}

/* ================================ END HEADER ================================== */

/* =================================MAIN========================================== */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  /* background-color: var(--footer-background-color); */

  text-align: center;
}
/* Эффективное решение для вашего бизнеса */

.hero-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;

  color: var(--color-main-button);
}
/* Кнопка */
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  display: flex;
  letter-spacing: 0.06em;

  color: var(--color-main-button);
  background-color: var(--accent-color);

  cursor: pointer;
  border: transparent;

  padding: 10px 32px;
  margin: auto;
}

/* <!-- Особенности --> */

.list-section-work {
  display: flex;
  list-style: none;
}

.list-features:not(:last-child) {
  margin-right: 30px;
}

.heading-stction-features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/*<!-- стиль для заголовков секции "Чем мы занимаемся" и "Наша команда"-->*/

.style-main-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
.list-container-img:not(:last-child) {
  margin-right: 30px;
}
.list-img {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

/* Наша команда */
.section-our-team {
  background-color: var(--bac-color-buttons);
}

.card-set {
  display: flex;
  padding: 0;
  margin: o;
  list-style: none;
  flex-wrap: wrap;
}

.our-team {
  /* width: 270px;
  height: 368px;
  left: 215px;
  top: 186px; */

  background: var(--color-main-button);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.heading-name {
  margin-bottom: 10px;
  text-align: center;
}

.sect-text {
  margin-top: 10px;
}

/* Стиль для параграфов из секции "Особенности"*/
.style-under-heading {
  font-size: 14px;
  line-height: 1.71;
}

/* Стиль для заголовкой из секции "Наша команда" */
.style-section-heading-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

/* Стиль для параграфов из секции "Наша команда" */
.style-section-team {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}
/* ==================================== END MAIN ==================================== */

/* ============================== FOOTER ========================================= */
.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  margin: 0;
  padding: 0;
  color: var(--accent-color);
}
.logo-color {
  color: var(--color-main-button);
}

.footer-adres {
  margin-top: 20px;
  font-style: normal;
}

.footer-contact {
}

/* ul */
.footer-contact {
  margin: 0;
}

.footer-contact

/* li */
.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link,
.footer-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-link {
  color: var(--color-main-button);
}

.footer-info {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:focus,
.footer-link:hover,
.footer-info:focus,
.footer-info:hover {
  color: var(--accent-color);
}
/* ================================== END FOOTER ============================= */

/* ================================== PORTFOLIO ========================= */

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;

  /* прозрачность */
  /* background-color: transparent; */
  background-color: var(--bac-color-buttons);
  border-radius: 4px;

  color: var(--primary-text-color);
  cursor: pointer;
  border: transparent;
}
.filter-btn:focus,
.filter-btn:hover {
  background-color: var(--accent-color);
  color: var(--bac-color-buttons);
}

/* стиль для залоговков списков */
.heading-list-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

/*Стиль для параграфов списка */
.under-heading-portfilio {
  font-size: 16px;
  line-height: 1.9;
}

.list-btn {
  justify-content: center;
  display: flex;
  margin: 0px 0px 50px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.filter-btn {
  padding: 6px 22px;
}

.item-btn:not(:last-child) {
  margin-right: 8px;
}

/* ---------------Контейнер с картинками ---------------*/
/*  <!-- LIST IMAGES --> */

/* ul */
.img-card {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

/* li */
.item-card {
  flex-basis: calc((100% / 3 - 30px));

  margin-left: 30px;
  margin-top: 30px;

  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: var(--color-main-button);
  border: 1px solid var(--maket-color);
  box-sizing: border-box;
}

/* div */
.card-content {
  padding: 20px 24px;
}

/* h */
.heading-list-portfolio {
  margin-bottom: 4px;
}

/* =============================== END PORTFOLIO ======================= */
